node_modules/
.env
.env.local
.env.production
dist/
build/
.vercel/
*.log
npm-debug.log*

# Hardhat
contracts/artifacts/
contracts/cache/
contracts/typechain-types/
contracts/coverage/
contracts/coverage.json

# Web
web/dist/
web/.vercel/

# OS
.DS_Store
Thumbs.db
*.swp
*.swo
desktop.ini

# IDE
.vscode/
.idea/
*.code-workspace

# Private keys / secrets
*.pem
*.key
